[submodule "graymill"]
	path = themes/graymill
	url = https://github.com/errnair/graymill.git
[submodule "ai.robots.txt"]
	path = ai.robots.txt
	url = https://github.com/ai-robots-txt/ai.robots.txt.git
[submodule "themes/blue-penguin"]
	path = themes/blue-penguin
	url = git@github.com:AstroStucky/blue-penguin.git
