.webPreview {
  border-radius: 5%;
  width: 650px;
  padding: 10px 10px 10px 10px;
}

.verticalAlign {
  display: flex;
  align-items: center;
}

.portrait {
  float: left;
  width: 250px;
  padding: 20px 20px 20px 20px;
  border-radius: 50%
}

div.horizontalgap {
  float: left;
  overflow: hidden;
  height: 1px;
  width: 0px;
}

a.test:link {
  color: none;
}
a.test:visited {
  color: none;
}
a.test:hover {
  color: none;
}

